<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html :: head(title='trip.page')"></head>

<body>
<header class="masthead mb-auto"  th:insert="fragments/header.html :: nav"></header>
<div class="container-fluid d-flex h-100 p-3 mx-auto flex-column justify-content-center">
    <main role="main" class="inner cover">
        <div th:insert="fragments/banner.html :: div"></div>
        <div class="card text-white bg-primary mb-3" style="max-width: 50rem;">
            <div class="card-header" th:text="${trip.arrivalCity.name}">Tytuł</div>
            <div class="card-body">
                <h5 class="card-title" th:text="|Wycieczka do: ${trip.arrivalCity.name}|"></h5>
                <p class="card-text" th:text="${trip.description}"></p>
                <p class="card-text" th:text="|Hotel: ${trip.hotel.name}|"></p>
                <p class="card-text" th:text="|Wyżywienie: ${trip.type}|"> </p>
                <p class="card-text" th:text="|Start: ${trip.startDate}|"></p>
                <p class="card-text" th:text="|Ilośc dni: ${trip.daysQuantity}|"></p>
                <p class="card-text" th:text="|Przylot do: ${trip.arrivalCity.country.name}|"></p>
                <p class="card-text" th:text="|Wylot z: ${trip.departureCity.name}|"></p>
                <p class="card-text" th:text="|Lotnisko wylotu: ${trip.departureAirport.name}|"></p>
                <p class="card-text" th:text="|Lotnisko przylotu: ${trip.arrivalAirport.name}|"></p>
                <p class="card-text" th:text="|Cena za osobę dorosłą: ${trip.adultPrice}|"></p>
                <p class="card-text" th:text="|Cena za dziecko: ${trip.childPrice}|"></p>
            </div>
        </div>




    </main>

</div>

<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>